format_version: 1

users:
  person-0001:
    password_file: "/run/credentials/person-0001"
    service_password_files:
      example-app: "/run/credentials/person-0001-example-app"
      example-mail: "/run/credentials/person-0001-example-mail"
  person-0003:
    service_password_files:
      example-mail: "/run/credentials/person-0003-example-mail"

services:
  example-app:
    bind_password_file: "/run/credentials/bind-example-app"
  example-mail:
    bind_password_file: "/run/credentials/bind-example-mail"
